<div class="container text text-center mt-5">
  <a href="/customer/login" class="btn btn-primary">customer Login</a><br> <br>
  <a href="/customer/register" class="btn btn-primary"> customer Register</a><br> <br>
  <a href="/admin/login" class="btn btn-primary">Admin Login</a>


</div>